@exBorderColor: rgb(196, 44, 44);
@activeColor: #34c0a9;
.night-css {
  background-color: rgb(22, 26, 30);
}
.light-bg {
}
.night-bg {
  background-color: rgb(22, 26, 30);
}
.active {
  color: @activeColor!important;
}
.price-up {
  color: @activeColor!important;
}
.price-down {
  color: #ed6666 !important;
}

:root {
  --font-color1-: #8c8e9c;
  --font-color2-: #2c2c2c;
  --hover-color-: #f0f0f0;
  --hover-color2-: #f6f6f6;
  --color-red-: #ed6a6c;
  --color-green-: #2dbd96;
}
.vue-country-intl-popover-content .vue-country-list-wrap .vue-country-list .vue-country-item.selected {
  background-color: var(--color-green-);
}
.el-slider__stop {
  background-color: #dadada !important;
}
.el-slider__bar {
  background-color: @activeColor !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}
